@model IEnumerable<Test.Models.Category>

<div class="container p-3">

    <p>ВСЕГО ЗАМЕТОК В БАЗЕ ДАННЫХ: @Model.Count()</p>
    <br />
    <br />
    <p>НА ПАНЕЛИ МЕНЮ НАЖМИТЕ КНОПКУ "ВСЕ ЗАМЕТКИ" ДЛЯ УПРАВЛЕНИЯ ЗАМЕТКАМИ</p>
</div>