@model Test.Models.Category

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">
                УДАЛИТЬ
            </h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        ТЕМА
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        ПРИОРИТЕТ
                    </div>
                    <div class="col-8">
                        <input asp-for="DisplayOrder" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        ТЕКСТ ЗАМЕТКИ
                    </div>
                    <div class="col-8">
                        <input asp-for="Text" disabled class="form-control" />
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-8 offset-4 row">
                    <div class="col">
                        <input type="submit" class="mx-2 btn btn-danger w-75" value="УДАЛИТЬ" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="mx-2 btn btn-success w-100">
                            НАЗАД
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">

        </div>
    </div>
    </div>
</form>


@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

